<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Layout fixo e líquido, imagens líquidas, coluna falsa</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<div id="container">
		<div id="marca">Marca</div>
		<div id="conteudo">
			<div id="conteudo-principal">
				<h2>Conteúdo Principal</h2>
				<img class="img-noticia "src="imagens/natureza.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat mattis fermentum. Curabitur tincidunt tellus ut tellus egestas blandit. Ut cursus eleifend ultrices. Suspendisse a nunc interdum, dignissim diam elementum, posuere est. Sed ac elit in nibh imperdiet ultrices a eget ex. Suspendisse ac mi nunc. Nam a metus gravida, euismod libero id, condimentum erat. Aliquam molestie lobortis dignissim. Fusce non feugiat nisl, ut finibus eros. Duis at turpis vitae odio tristique lacinia. Nullam quis luctus mi, egestas tincidunt massa.</p>
				<h2>Conteúdo Principal</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat mattis fermentum. Curabitur tincidunt tellus ut tellus egestas blandit. Ut cursus eleifend ultrices. Suspendisse a nunc interdum, dignissim diam elementum, posuere est. Sed ac elit in nibh imperdiet ultrices a eget ex. Suspendisse ac mi nunc. Nam a metus gravida, euismod libero id, condimentum erat. Aliquam molestie lobortis dignissim. Fusce non feugiat nisl, ut finibus eros. Duis at turpis vitae odio tristique lacinia. Nullam quis luctus mi, egestas tincidunt massa.</p>
			</div>
			<div id="conteudo-secundario">
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat mattis fermentum. Curabitur tincidunt tellus ut tellus egestas blandit.</p>
			</div>
		</div>
		<div id="navegacao">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Notícias</a></li>
				<li><a href="#">Produtos</a></li>
				<li><a href="#">Serviços</a></li>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Contato</a></li>
			</ul>
		</div>
		<div id="rodape"></div>
	</div>
</body>
</html>